<section class="main-container">
    <div class="content-wrapper">
        <h2 class="main-heading">Account Information</h2>
        <div class="information-container">
            <div class="row row1">
                <div class="box">
                    <h3 class="name-heading">Name</h3>
                    <p class="name">John</p>
                </div>
                <div class="box">
                    <h3 class="surname-title">Surname</h3>
                    <p class="surname">Doe</p>
                </div>
            </div>
            <div class="row row2">
                <div class="box">
                    <h3 class="email-heading">Email</h3>
                    <p class="email">john25&#64;gmail.com</p>
                </div>
                <div class="box">
                    <h3 class="phone-title">Phone Number</h3>
                    <p class="phone">+251 026 457</p>
                </div>
            </div>
        </div>
    </div>
</section>
