<section class="main-container">
    <div class="sidebar-menu">
        <section class="pofile-wrapper">
            <img src="user-profile.png" alt="profile image">
            <h3 class="user-name">{{ user?.name + ' ' + user?.surname }}</h3>
        </section>
        <section class="menu-links-container">
            <nav class="menu">
                <ul class="menu-links">
                    <li>
                        <a routerLink="/my-account/user-profile" routerLinkActive="active-link" class="row active-link">
                            <i class="fa-solid fa-user"></i>
                            <p class="menu-text">My Account</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/my-account/orders-list" routerLinkActive="active-link" class="row">
                            <i class="fa-solid fa-rectangle-list"></i>
                            <p class="menu-text">Orders</p>
                    </a></li>
                    <li>
                        <a routerLink="/my-account/update-profile" routerLinkActive="active-link" class="row">
                            <i class="fa-solid fa-gear"></i>
                            <p class="menu-text">Update Profile</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/my-account/change-password" routerLinkActive="active-link" class="row">
                            <i class="fa-solid fa-lock"></i>
                            <p class="menu-text">Change Password</p>
                        </a>
                    </li>
                    <li *ngIf="isAdmin">
                        <a routerLink="/my-account/user-management" routerLinkActive="active-link" class="row">
                            <i class="fa-solid fa-users"></i>
                            <p class="menu-text">Users List</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/my-account/delivery-address" routerLinkActive="active-link" class="row">
                            <i class="fa-solid fa-location-dot"></i>
                            <p class="menu-text">Delivery Address</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/my-account/payment-cards" routerLinkActive="active-link" class="row">
                            <i class="fa-solid fa-credit-card"></i>
                            <p class="menu-text">Payment Cards</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
</section>
