<section class="main-container">
    <div class="content-wrapper">
        <h2 class="main-heading">Account Information</h2>
        <div class="information-container">
            <div class="row row1">
                <div class="box">
                    <h3 class="name-heading">Name</h3>
                    <p class="name">{{ user?.name }}</p>
                </div>
                <div class="box">
                    <h3 class="surname-title">Surname</h3>
                    <p class="surname">{{ user?.surname }}</p>
                </div>
            </div>
            <div class="row row2">
                <div class="box">
                    <h3 class="email-heading">Email</h3>
                    <p class="email">{{ user?.email }}</p>
                </div>
                <div class="box">
                    <h3 class="phone-title">Phone Number</h3>
                    <p class="phone">{{ user?.phone }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
