<div class="main-container">
    <h2 class="main-heading">Shipping & Payment Details</h2>
    <form class="shipping-form">
        <h3 class="shipping-heading">Shipping</h3>
        <div class="row-container">
            <label for="store-pickup" class="simple-clickup">
                <div class="option-section">
                    <input type="radio" name="delivery-option" id="store-pickup" value="store-pickup">
                    <div class="option-description">
                        <p class="shipping-option">Store Pickup</p>
                        <span class="shipping-description">Pick up your order from our store</span>
                    </div>
                </div>
                <div class="price-section">
                    <p class="price">€ 0.00</p>
                </div>
            </label>
        </div>
        <div class="row-container">
            <label for="gls-delivery" class="simple-clickup">
                <div class="option-section">
                    <input type="radio" name="delivery-option" id="gls-delivery" value="gls-delivery">
                    <div class="option-description">
                        <p class="shipping-option">GLS</p>
                        <span class="shipping-description">Delivery by GLS courier service</span>
                    </div>
                </div>
                <div class="price-section">
                    <p class="price">€ 4.80</p>
                </div>
            </label>
        </div>
        <div class="row-container">
            <label for="slovak-post-delivery" class="simple-clickup">
                <div class="option-section">
                    <input type="radio" name="delivery-option" id="slovak-post-delivery" value="slovak-post-delivery">
                    <div class="option-description">
                        <p class="shipping-option">Slovak Post</p>
                        <span class="shipping-description">Delivery by Slovak Post</span>
                    </div>
                </div>
                <div class="price-section">
                    <p class="price">€ 6.30</p>
                </div>
            </label>
        </div>
    </form>
    <form class="payment-form">
        <h3 class="payment-heading">Payment</h3>
        <div class="row-container">
            <label for="card-payment" class="simple-clickup">
                <div class="option-section">
                    <input type="radio" name="payment-option" id="card-payment" value="card-payment">
                    <div class="option-description">
                        <p class="payment-option">Credit/Debit Card</p>
                        <span class="payment-description">Secure your payment with credit or debit card</span>
                    </div>
                </div>
                <div class="price-section">
                    <p class="price">€ 0.00</p>
                </div>
            </label>
        </div>
        <div class="row-container">
            <label for="cash-on-delivery" class="simple-clickup">
                <div class="option-section">
                    <input type="radio" name="payment-option" id="cash-on-delivery" value="cash-on-delivery">
                    <div class="option-description">
                        <p class="payment-option">Cash on Delivery</p>
                        <span class="payment-description">Pay when you recive your order</span>
                    </div>
                </div>
                <div class="price-section">
                    <p class="price">€ 2.99</p>
                </div>
            </label>
        </div>
    </form>
</div>
