<div class="main-container">
    <h2 class="main-heading">Change Password</h2>
    <form class="change-password-form" [formGroup]="changePasswordForm">
        <div class="wrapper">
            <label for="current-password">Current Password</label>
            <div class="input-container">
                <input [type]="isCurrentPasswordVisible ? 'text' : 'password'" name="current-password" id="current-password" formControlName="current-password">
                <button class="show-hide-btn" (click)="toggleCurrentPasswordVisibility()"><i [ngClass]="['fa-solid', isCurrentPasswordVisible ? 'fa-eye-slash' : 'fa-eye']"></i></button>
            </div>
            <small class="error-msg" *ngIf="changePasswordForm.get('current-password')?.hasError('required') && changePasswordForm.get('current-password')?.touched">
                Enter current password
            </small>
        </div>
        <div class="wrapper">
            <label for="new-password">New Password</label>
            <div class="input-container">
                <input [type]="isNewPasswordVisible ? 'text' : 'password'" name="new-password" id="new-password" formControlName="new-password">
                <button class="show-hide-btn" (click)="toggleNewPasswordVisibility()"><i [ngClass]="['fa-solid', isNewPasswordVisible ? 'fa-eye-slash' : 'fa-eye']"></i></button>
            </div>
            <small class="error-msg" *ngIf="changePasswordForm.get('new-password')?.hasError('required') && changePasswordForm.get('new-password')?.touched">
                New password is required
            </small>
            <small class="error-msg" *ngIf="changePasswordForm.get('new-password')?.hasError('minLength') && changePasswordForm.get('new-password')?.touched">
                Password must be at least 8 characters long
            </small>
            <small class="error-msg" *ngIf="changePasswordForm.get('new-password')?.hasError('missingUpperCase') && changePasswordForm.get('new-password')?.touched">
                Password must contain at least one uppercase letter
            </small>
            <small class="error-msg" *ngIf="changePasswordForm.get('new-password')?.hasError('missingNumber') && changePasswordForm.get('new-password')?.touched">
                Password must contain at least one number
            </small>
            <small class="error-msg" *ngIf="changePasswordForm.get('new-password')?.hasError('missingSpecialChar') && changePasswordForm.get('new-password')?.touched">
                Password must contain at least one special character (!&#64;#$%^&*...)
            </small>
        </div>
        <div class="wrapper">
            <label for="confirm-password">Confirm Password</label>
            <div class="input-container">
                <input [type]="isConfirmPasswordVisible ? 'text' : 'password'" name="confirm-password" id="confirm-password" formControlName="confirm-password">
                <button class="show-hide-btn" (click)="toggleConfirmPasswordVisibility()"><i [ngClass]="['fa-solid', isConfirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye']"></i></button>
            </div>
            <small class="error-msg" *ngIf="changePasswordForm.get('confirm-password')?.hasError('required') && changePasswordForm.get('confirm-password')?.touched">
                Confirm new password is required
            </small>
        </div>
        <button class="change-password-btn" (click)="onChangePassword()">Change Password</button>
    </form>
</div>
