.main-container{
    height: 542px;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
}
.main-container .main-heading{
    text-align: center;
    padding-bottom: 12px;
}
.shipping-form .shipping-heading{
    margin: 12px 0 0 12px;
}
.shipping-form .row-container,
.payment-form .row-container{
    border-bottom: 1px solid #FFB929;
}
.row-container .simple-clickup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
    padding: 15px;
    cursor: pointer;
}
.simple-clickup .option-section{
    display: flex;
    align-items: center;
    gap: 15px;
}
.option-section .shipping-description,
.option-section .payment-description{
    font-size: 12px;
    color: #595353;
}
.payment-form .payment-heading{
    margin: 18px 0 0 12px;
}
@media screen and (max-width: 1000px) {
    .main-container{
        margin-top: 25px;
        width: 474px;
    }
}
@media screen and (max-width: 576px) {
    .main-container{
        width: 100%;
        height: auto;
    }
    .main-container .main-heading{
        font-size: 20px;
    }
    .shipping-form .shipping-heading,
    .payment-form .payment-heading{
        font-size: 17px;
    }
    .row-container .option-description p,
    .row-container .option-description span,
    .price-section .price{
        font-size: 14px;
    }
}
