<section class="login-form-container">
    <div class="login-card">
        <div class="login-icon">
            <i class="fa-solid fa-lock"></i>
        </div>
        <h2 class="card-title">Log In</h2>
        <form class="login-form">
            <label for="user-name">Name</label>
            <input type="text" name="user-name">
            <label for="user-password">Password</label>
            <input type="password" name="user-password">
            <button>LOG IN</button>
        </form>
        <div class="card-footer">
            <p class="card-footer-text">New user?
                <a href="#">Create an account</a>
            </p>
        </div>
    </div>
</section>
