<section class="main-container">
    <div class="sidebar-menu">
        <section class="pofile-wrapper">
            <img src="user-profile.png" alt="profile image">
            <h3 class="user-name">John Doe</h3>
        </section>
        <section class="menu-links-container">
            <nav class="menu">
                <ul class="menu-links">
                    <li><a href="" class="row active-link">
                        <i class="fa-solid fa-user"></i>
                        <p class="menu-text">My Account</p>
                    </a></li>
                    <li><a href="" class="row">
                            <i class="fa-solid fa-rectangle-list"></i>
                            <p class="menu-text">Orders</p>
                    </a></li>
                    <li><a href="" class="row">
                        <i class="fa-solid fa-gear"></i>
                        <p class="menu-text">Update Profile</p>
                    </a></li>
                </ul>
            </nav>
        </section>
    </div>
</section>
