<section class="main-container">
    <div class="personal-data-container">
        <h2 class="personal-data-title">Enter Your Details</h2>
        <form class="personal-data-form" [formGroup]="shippingAddressForm">
            <div class="form-row-container">
                <div class="form-row">
                    <div class="content-box">
                        <label for="name" class="required">Name</label>
                        <input type="text" name="name" id="name" formControlName="name" (input)="onInput($event)" (focus)="showDropdown = true" autocomplete="off">
                        <ul *ngIf="showDropdown && filteredAddresses.length" class="dropdown">
                            <li *ngFor="let address of filteredAddresses" (mousedown)="selectAddress(address)">{{ address.name }}</li> 
                        </ul>
                    </div>  
                    <small class="error-msg" *ngIf="shippingAddressForm.get('name')?.hasError('required') && shippingAddressForm.get('name')?.touched">
                        Name is required
                    </small>
                    <small class="error-msg" *ngIf="shippingAddressForm.get('name')?.hasError('minlength') && shippingAddressForm.get('name')?.touched">
                        Name must contain at least 3 characters
                    </small>
                </div>
                <div class="form-row">
                    <div class="content-box">
                        <label for="surename" class="required">Surename</label>
                        <input type="text" name="surename" id="surename" formControlName="surname">
                    </div>
                    <small class="error-msg" *ngIf="shippingAddressForm.get('surname')?.hasError('required') && shippingAddressForm.get('surname')?.touched">
                        Surname is required
                    </small>
                    <small class="error-msg" *ngIf="shippingAddressForm.get('surname')?.hasError('minlength') && shippingAddressForm.get('surname')?.touched">
                        Surname must contain at least 3 characters
                    </small>
                </div>
            </div>
            <div class="form-row-container">
                <div class="form-row">
                    <div class="content-box">
                        <label for="email" class="required">Email</label>
                        <input type="email" name="email" id="email" formControlName="email">
                    </div>
                    <small class="error-msg" *ngIf="shippingAddressForm.get('email')?.hasError('required') && shippingAddressForm.get('email')?.touched">
                        Email is required
                    </small>
                    <small class="error-msg" *ngIf="shippingAddressForm.get('email')?.hasError('email') && shippingAddressForm.get('email')?.touched">
                        Please enter valid email
                    </small>
                </div>
                <div class="form-row">
                    <div class="content-box">
                        <label for="phone" class="required">Phone</label>
                        <input type="text" name="phone" id="phone" formControlName="phone">
                    </div>
                    <small class="error-msg" *ngIf="shippingAddressForm.get('phone')?.hasError('required') && shippingAddressForm.get('phone')?.touched">
                        Phone is required
                    </small>
                    <small class="error-msg" *ngIf="shippingAddressForm.get('phone')?.hasError('pattern') && shippingAddressForm.get('phone')?.touched">
                        Please enter valid phone number
                    </small>
                </div>
            </div>
            <div class="form-row-container">
                <div class="form-row">
                    <div class="content-box">
                        <label for="street-address" class="required">Street Address</label>
                        <input type="text" name="street-address" id="street-address" formControlName="street">
                    </div>
                    <small class="error-msg" *ngIf="shippingAddressForm.get('street')?.hasError('required') && shippingAddressForm.get('street')?.touched">
                        Street is required
                    </small>
                </div>
                <div class="form-row">
                    <div class="content-box">
                        <label for="city" class="required">City</label>
                        <input type="text" name="city" id="city" formControlName="city"> 
                    </div>
                    <small class="error-msg" *ngIf="shippingAddressForm.get('city')?.hasError('required') && shippingAddressForm.get('city')?.touched">
                        City is required
                    </small>
                </div>
            </div>
            <div class="form-row-container">
                <div class="form-row">
                    <div class="content-box">
                        <label for="postal-code" class="required">Postal Code</label>
                        <input type="text" name="postal-code" id="postal-code" formControlName="postalCode">
                    </div>
                    <small class="error-msg" *ngIf="shippingAddressForm.get('postalCode')?.hasError('required') && shippingAddressForm.get('postalCode')?.touched">
                        Postal code is required
                    </small>
                    <small class="error-msg" *ngIf="shippingAddressForm.get('postalCode')?.hasError('pattern') && shippingAddressForm.get('postalCode')?.touched">
                        Please enter valid postal code
                    </small>
                </div>
                <div class="form-row">
                    <div class="content-box">
                        <label for="state" class="required">State</label>
                        <input type="text" name="state" id="state" formControlName="state"> 
                    </div>
                    <small class="error-msg" *ngIf="shippingAddressForm.get('state')?.hasError('required') && shippingAddressForm.get('state')?.touched">
                        State is required
                    </small>
                </div>
            </div>
            <label for="special-instructions">Special Instructions</label>
            <textarea name="special-instructions" id="special-instructions"></textarea>
            <div class="personal-data-agreement-container">
                <div class="container">
                    <input type="checkbox" name="persnoal-data-agreement" id="persnoal-data-agreement" formControlName="personalDataAgreement">
                    <label for="persnoal-data-agreement" class="required">I agree to the processing of my personal data.</label>
                </div>
            </div>
            <small class="error-msg"*ngIf="shippingAddressForm.get('personalDataAgreement')?.invalid && submitted">
                Personal data consent is required.
            </small>
            <div *ngIf="isLoggedIn" class="remember-me-container">
                <input type="checkbox" name="remember-me" id="remember-me" formControlName="rememberMe">
                <label for="remember-me">Remember me</label>
            </div>
        </form>
    </div>    
</section>