.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    min-height: 85vh;
    margin: 0 auto;
}
.content-wrapper{
    display: flex;
    width: 80%;
    min-width: 450px;
    height: 60vh;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 20px 0;
    box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
}
@media screen and (max-width: 768px){
    .container{
        align-items: flex-start;
        padding: 35px 0;
        min-height: 60vh;

    }
    .content-wrapper{
        min-width: 320px;
    }
}