<ng-container class="contact-container">
    <section class="contact-form-wrapper">
        <h2 class="contact-form-heading">CONTACT US</h2>
        <form class="contact-form">
            <aside class="left-side-form">
                <label for="name" class="required">Name</label>
                <input type="text" name="name" id="name">
                <label for="email" class="required">Email</label>
                <input type="email" name="email" id="email">
                <label for="phone-number" class="required">Phone Number</label>
                <input type="text" name="phone-number" id="phone-number">
                <label for="subject" class="required">Subject</label>
                <input type="text" name="subject" id="subject">
            </aside>
            <aside class="right-side-container">
                <label for="message" class="required">Message</label>
                <textarea name="message" id="message"></textarea>
                <div class="personal-data-agreement-container">
                    <input type="checkbox" name="personal-data-agreement" id="personal-data-agreement">
                    <label for="personal-data-agreement" class="required">I agree to the processing of my personal data.</label>
                </div>
                <button class="submit-btn">Submit</button>
            </aside>
        </form>
       
    </section>
    <section class="contact-section">
        <div class="business-contact">
            <h3 class="heading">Business Contact</h3>
            <p class="email"><i class="fa-solid fa-envelope"></i> business&#64;modio.com</p>
            <p class="phone-number"><i class="fa-solid fa-phone"></i> +1 (123) 456-7890</p>
            <div class="adress-container">
                <i class="fa-solid fa-location-dot"></i>
                <p class="adress">
                    123 Business Blvd Suite 100<br>
                    Business City, BC 12345<br>
                    USA
                </p>
            </div>
        </div>
        <div class="customer-support-contact">
            <h3 class="heading">Customer Support Contact</h3>
            <p class="email"><i class="fa-solid fa-envelope"></i> support&#64;modio.com</p>
            <p class="phone-number"><i class="fa-solid fa-phone"></i> +1 (800) 123-4567</p>
            <div class="adress-container">
                <i class="fa-solid fa-location-dot"></i>
                <p class="adress">
                    456 Customer Care St, Suite 200<br>
                    Service Town, ST 67890<br>
                    USA
                </p>
            </div>
        </div>
    </section>
    
</ng-container>
