<section class="register-form-container">
    <div class="register-card">
        <div class="register-icon">
            <i class="fa-solid fa-user"></i>
        </div>
        <h2 class="card-title">Register</h2>
        <form class="register-form">
            <label for="user-name">Name</label>
            <input type="text" name="user-name">
            <label for="user-surname">Surname</label>
            <input type="text" name="user-surname">
            <label for="user-email">Email</label>
            <input type="email" name="user-email">
            <label for="user-phone">Phone Number</label>
            <input type="text" name="user-phone">
            <label for="user-password">Password</label>
            <input type="password" name="user-password">
            <label for="reenter-password">Re-enter Password</label>
            <input type="password" name="reenter-password">
            <button>CREATE ACCOUNT</button>
        </form>
        <div class="card-footer">
            <p class="card-footer-text">Already have an account? 
                <a routerLink="/login">Log in</a>
            </p>
        </div>
    </div>
</section>

