<footer>
    <div class="footer-container">
        <div class="footer-top">
            <div>
                <h6 class="footer-title">Customer Service</h6>
                <ul class="footer-list">
                    <li class="footer-list-item"><a href="#" class="footer-list-link">FAQ</a></li>
                    <li class="footer-list-item"><a href="#" class="footer-list-link">Returns & Exchanges</a></li>
                    <li class="footer-list-item"><a href="#" class="footer-list-link">Shipping Info</a></li>
                    <li class="footer-list-item"><a href="#" class="footer-list-link">Privacy Policy</a></li>
                </ul>
            </div>
            <div>
                <h6 class="footer-title">Useful Links</h6>
                <ul class="footer-list">
                    <li class="footer-list-item"><a routerLink="home" class="footer-list-link">Home</a></li>
                    <li class="footer-list-item"><a routerLink="products" class="footer-list-link">Products</a></li>
                    <li class="footer-list-item"><a routerLink="notcreated" class="footer-list-link">Contact</a></li>
                </ul>
            </div>
        </div>
        <hr class="footer-divider">
        <div class="footer-bottom">
            <span class="copyright">&copy; 2025 Miloš Marko. All right reserved.</span>
            <ul class="footer-list">
                <li class="footer-list-item"><a href="#" class="footer-list-link"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="footer-list-item"><a href="#" class="footer-list-link"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="footer-list-item"><a href="#" class="footer-list-link"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
