<main>
    <section class="banner-section">
        <aside class="left-side-banner">
            <h1 class="main-header">Welcome to <span class="main-header-higlight">Modio.</span></h1>
            <a href="#" class="banner-action-button">
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front"> Shop Now </span>
            </a>
        </aside>
        <aside class="right-side-banner">
            <img src="banner.png" alt="Modio main banner image">
        </aside>
    </section>
    <section class="best-offer-section">
        <h2 class="special-offer-heading">SPECIAL OFFER</h2>
        <div class="offer-section-container">
            <div class="offer-box">
                <img src="hoodie-offer.png" alt="white hoodie">
                <h2 class="product-name">White Hoodie</h2>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque explicabo odio mollitia labore repellendus.</p>
                <a href="#" class="more-info-btn">Shop Now <i class="ri-shopping-cart-2-line"></i></a>
            </div>
            <div class="offer-box">
                <img src="winter-jacket-offer.png" alt="black winter jacket">
                <h2 class="product-name">Black Winter Jacket</h2>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque explicabo odio mollitia labore repellendus.</p>
                <a href="#" class="more-info-btn">Shop Now <i class="ri-shopping-cart-2-line"></i></a>
            </div>
            <div class="offer-box">
                <img src="shoes-offer.png" alt="red white shoes">
                <h2 class="product-name">Red-White Shoes</h2>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque explicabo odio mollitia labore repellendus.</p>
                <a href="#" class="more-info-btn">Shop Now <i class="ri-shopping-cart-2-line"></i></a>
            </div>
        </div>
    </section>
    <section class="about-us">
        <h2 class="about-us-main-heading">ABOUT US</h2>
        <div class="about-us-container">
            <img src="premium-quality.png" alt="premium-quality">
            <div class="about-us-content-box">
                <h2 class="about-us-heading">Premium Quality Materials</h2>
                <p class="about-us-description">Our clothing is made from the finest, tested fabrics to ensure maximum comfort and durability.</p>
            </div>
        </div>
        <div class="about-us-container">
            <div class="about-us-content-box">
                <h2 class="about-us-heading">Timeless Style, Modern Comfort</h2>
                <p class="about-us-description">Designed to keep you stylish and comfortable, our pieces blend classic fashion with contemporary trends.</p>
            </div>
            <img src="timeless-style.png" alt="timeless-style">
        </div>
        <div class="about-us-container">
            <img src="ethical-fashion.png" alt="timeless-style">
            <div class="about-us-content-box">
                <h2 class="about-us-heading">Sustainable & Ethical Fashion</h2>
                <p class="about-us-description">We care about the planet—our clothes are crafted with eco-friendly materials and ethical production practices.</p>
            </div>
        </div>
    </section>
</main>