<section class="main-wrapper">
    <div class="product-detail-container">
        <div class="product-detail">
            <aside class="left-side-product-detail">
                <img src="testing-img.png" alt="black t-shirt">
            </aside>
            <aside class="right-side-product-detail">
                <h3 class="product-name">Men's blackt T-shirt</h3>
                <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet consectetur deleniti neque quisquam inventore placeat? Laudantium quos iure suscipit. Eos ipsam expedita hic iste, assumenda modi saepe sint rem dolorem?</p>
                <p class="product-category">T-shirt</p>
                <p class="product-price">€ 20 </p>
                <div class="action-container">
                    <div class="quantity-container">
                        <button class="decrease-quantity-btn">-</button>
                        <span class="quantity-nuber">1</span>
                        <button class="increase-quantity-btn">+</button>
                    </div>
                    <button class="add-to-cart-btn">ADD TO CART <i class="ri-shopping-cart-2-line"></i></button>
                </div>
            </aside>
        </div>
    </div>
</section>
