<section class="main-container">
    <h2 class="summary-heading">Order Summary</h2>
    <table class="product-summary-table">
        <thead>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </thead>
        <tbody>
            <tr>
                <td class="product-name-container">
                    <img src="testing-img.png" alt="testing img">
                    <p class="product-description">T-shirt</p>
                </td>
                <td>1</td>
                <td>25 €</td>
            </tr>
            <tr>
                <td class="product-name-container">
                    <img src="testing-img.png" alt="testing img">
                    <p class="product-description">T-shirt</p>
                </td>
                <td>2</td>
                <td>50 €</td>
            </tr>
            <tr>
                <td class="product-name-container">
                    <img src="testing-img.png" alt="testing img">
                    <p class="product-description">T-shirt</p>
                </td>
                <td>3</td>
                <td>70 €</td>
            </tr>
        </tbody>
        <thead class="shipping-section-table-head">
            <th>Shipping</th>
            <th></th>
            <th></th>
        </thead>
        <tbody class="shipping-section-table-body">
            <tr>
                <td class="shipping-option-description">Store Pickup</td>
                <td></td>
                <td class="shipping-price-section">
                    <p class="price">0.00 €</p>
                </td>
            </tr>
        </tbody>
        <thead class="payment-section-table-head">
            <th>Payment</th>
            <th></th>
            <th></th>
        </thead>
        <tbody class="payment-section-table-body">
            <tr>
                <td class="payment-option-description">Credit/Debit Card</td>
                <td></td>
                <td class="payment-price-section">
                    <p class="price">0.00 €</p>
                </td>
            </tr>
        </tbody>
        <tfoot class="order-summary-footer">
            <tr class="total-price-section">
                <td></td>
                <td class="total-price-text">Total Price:</td>
                <td class="total-price-value">150 €</td>
            </tr>
        </tfoot>
    </table>
</section>
