<div class="content-wrapper">
    <h2 class="main-heading">Product Management</h2>
    <div class="add-new-btn" routerLink="../product-management-form"><i class="fa-solid fa-circle-plus"></i></div>
    <div class="container">
        <div class="no-product-container" *ngIf="products.length < 1">
            <p class="no-product-text">No product found. Add a new product.</p>
        </div>
        <section class="products-wrapper" *ngFor="let product of products">
            <button class="delete-btn" (click)="openDeleteDialog(product.id)"><i class="fa-solid fa-xmark"></i></button>
            <div class="product-container">
                <div class="product-img">
                    <img [src]="product.imageUrl" [alt]="product.name">
                </div>
                <div class="product-data">
                    <p class="name"><strong>Name: </strong>{{ product.name }}</p>
                    <p class="surname"><strong>Description: </strong>{{ product.description }}</p>
                    <p class="email"><strong>Category: </strong>{{ product.categoryId }}</p>
                    <p class="phone"><strong>Price: </strong>{{ product.price }} €</p>
                    <p class="phone"><strong>In Stock: </strong>{{ product.stock }} pcs</p>
                </div>
            </div>
            <button class="edit-address-btn" (click)="onUpdateProduct(product.id)"><i class="fa-solid fa-pencil"></i></button>
        </section>
    </div>
    <dialog class="delete-confirmation-dialog" #modalDialog>
        <h2 class="dialog-msg">Are you sure you want to delete this product?</h2>
        <div class="modal-buttons-container">
            <button class="confirm-btn" (click)="onDeleteProduct()">Yes</button>
            <button class="cancel-btn" (click)="onCloseDialog()">No</button>
        </div>
    </dialog>
</div>
